@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --body-color: rgb(250, 250, 250);
    --color-white: #fff;
    --color-black: #000;
    --primary-color-first: #cca8e9;
    --primary-color-second: #c3bef0;
    --second-color-light: #defcf9;
    --second-color-dark: #cadefc;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
}

.landing-container {
    width: 100%;
    height: 100vh;
    padding: 4rem 10rem;
    font-size: 2rem;
}

.header {
    padding: 4rem 10rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #fff;
    align-items: center;

    z-index: 999;

}


.header--name {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: .2rem;
}

.header--nav ul{
    list-style: none;
    display: flex;
    gap: 5rem;
}

.header--nav ul li a {
    text-decoration: none;
    color: var(--color-black);
    position: relative;
}

.header--nav ul li a::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--primary-color-first);
    transition: all .3s;
}

.header--nav ul li a:hover::after {
    width: 100%;
}

/*.dot {*/
/*    width: 1rem;*/
/*    height: 1rem;*/
/*    background: var(--primary-color-first);*/
/*    border-radius: 50%;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-top: .5rem ;*/
/*}*/

.section--landing {
    padding-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section--landing__left, .section--landing__right {
    width: 50%;
}

.nav-hamburger-li {
    display: none;
}

.nav-hamburger {
    font-size: 2.5rem;
    position: absolute;
    top: 1.2rem;
    right: 4rem;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px); /* Dostosuj intensywność rozmycia według potrzeb */
    z-index: 1; /* Upewnij się, że jest nad wszystkim, ale pod listą nawigacyjną i hamburgerem */
    display: none; /* Początkowo ukryte */
}

.auto-type {
    color: var(--primary-color-first);
}

.section--landing__left h1 {
    font-size: 4rem;
}

.introduction--section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.introduction-h3 span {
    color: rgb(184, 84, 255);
}

.introduction-h3 {
    margin-bottom: 1rem;
}

.introduction--section > p {
    letter-spacing: .2rem;
}

.download-cv-button a {
    display: inline-block; /* Ustawienie na inline-block pozwoli na efekt transformacji */
    text-decoration: none;
    background-color: var(--second-color-dark);
    padding: 1.3rem 2.5rem; /* Dodatkowy padding poziomy dla lepszego wyglądu */
    border-radius: 3rem;
    color: var(--color-black);
    transition: transform 0.3s ease; /* Zmiana tylko transformacji */
}

.download-cv-button a:hover {
    transform: scale(1.1); /* Poprawienie transformacji na jednolity */
}

.my-img img {
    height: 45rem;
    border-radius: 3rem;
    align-self: center; /* Wyśrodkowanie obrazu w pionie wewnątrz kontenera */
}

.my-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Wyśrodkowanie obrazu w poziomie */
}

.glass {
    background: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 3rem;
    transition: all 0.3s ease;
}

.glass:hover {
    transform: scale(1.1);
}

.explore-button {
    padding: 1.3rem 2.5rem;
    width: 15rem;
    text-align: center;
    cursor: pointer;

}

.explore-button a {
    text-decoration: none;
    color: var(--color-black);
}

.explore-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.night-mode {
    cursor: pointer;
}

.night {
    display: none;
    cursor: pointer;
}

.about--container {
    padding: 4rem 10rem;
    font-size: 2rem;
}

.about--container h2 {
    font-weight: 500;
    font-size: 5rem;
    text-align: center;
    background-image: linear-gradient(var(--primary-color-first), var(--second-color-dark));
    -webkit-background-clip: text;
    color: transparent;
}

.about-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.about--container__introduction {
    width: 55%;
}

.about--container__skills {
    width: 45%;
    text-align: right;
}

.about-info p:first-child {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.about-info p:last-child {
    letter-spacing: .15rem;
}

.about-info p:last-child span {
    color: rgb(184, 84, 255);
    font-weight: 500;
}






@media only screen and (max-width: 1000px) {
    .landing-container {
        height: auto;
    }
    .header--nav ul {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 500%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 100;
    }

    .header--nav ul li a {
        font-size: 3rem;
        font-weight: 700;
    }

    .header--nav ul li a::after {
        height: 0;

    }

    .nav-hamburger-li,
    .nav-hamburger-li i{
        display: block;
        z-index: 100;
        position: absolute;
        top: .9rem;
        right: 1rem;
    }

    .landing-container {
        position: relative;
        padding: 2rem 4rem;
    }

    .header--name {
        font-size: 2rem;
        font-weight: 500;
        position: absolute;
        top: 2.3rem;
        left: 2rem;

    }

    .section--landing__left h1 {
        font-size: 2rem;
    }

    .section--landing {
        padding-top: 8rem;
        flex-direction: column;
    }

    .section--landing__left, .section--landing__right {
        width: 100%;
    }

    .section--landing__right {
        margin-top: 3rem;
    }

    .explore-button-container {
        margin-top: 3rem;
    }

    .night-mode {
        display: none;
    }

    .night {
        display: block;
        position: absolute;
        top: 2.2rem;
        right: 6rem;
    }

    .my-img img {
        height: 30rem;
        border-radius: 5rem;

    }

}









